body {
  margin: 0;
  background: #1e293b;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.dashboard {
  max-width: 1100px;
  margin: 50px auto;
  padding: 20px;
}

.heading {
  text-align: center;
  font-size: 42px;
  margin-bottom: 10px;
}

.subheading {
  text-align: center;
  color: #cbd5e1;
  margin-bottom: 35px;
}

.sortBtn {
  display: block;
  margin: 0 auto 30px;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  background: #3b82f6;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.sortBtn:hover {
  background: #2563eb;
  transform: scale(1.05);
}

.cryptoGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: #1e293b;
  border-radius: 18px;
  padding: 20px;
  transition: 0.3s;
  box-shadow: 0 10px 25px rgba(0,0,0,.25);
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(59,130,246,.4);
}

.coinTop {
  display: flex;
  align-items: center;
  gap: 15px;
}

.coinTop img {
  width: 55px;
  height: 55px;
}

.coinName {
  font-size: 20px;
  font-weight: bold;
}

.symbol {
  color: #94a3b8;
  text-transform: uppercase;
}

.price {
  margin-top: 20px;
  font-size: 28px;
  color: #22c55e;
  font-weight: bold;
}

.rank {
  margin-top: 10px;
  color: #fbbf24;
}